{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-0 rounded-4 p-5">
                <div class="text-center mb-4">
                    <h3 class="fw-bold text-dark"><i class="fa-solid fa-plus-circle text-warning"></i> Ajouter un Plat</h3>
                </div>
                <form method="POST">
                    <div class="mb-3">
                        <label class="form-label fw-bold">Nom du plat</label>
                        <input type="text" name="nom" class="form-control rounded-pill px-3" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Description</label>
                        <textarea name="description" class="form-control rounded-4 px-3" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Prix (FC)</label>
                        <input type="number" step="0.01" name="prix" class="form-control rounded-pill px-3" required>
                    </div>
                    <div class="mb-4">
                        <label class="form-label fw-bold">URL de l'Image</label>
                        <input type="url" name="image" class="form-control rounded-pill px-3" placeholder="https://exemple.com/image.jpg">
                    </div>
                    <button type="submit" class="btn btn-warning w-100 rounded-pill py-2 fw-bold text-dark shadow-sm">Ajouter au menu</button>
                </form>
                <div class="text-center mt-3">
                    <a href="{{ url_for('admin.dashboard') }}" class="text-muted text-decoration-none small"><i class="fa-solid fa-arrow-left"></i> Retour au Dashboard</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}